<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
      <div class="w-full h-full bg-zinc-800 p-10 text-white">
            <div class="nav mb-5">
                  <a class="text-yellow-500" href="/read">Read User</a>
            </div>
            <h1 class="text-3xl tracking-tighter">Create User</h1>
            <form action="/create" method="post">
                  Name : <input class="px-5 py-2 border-2 outline-none border-zinc-800 rounded-lg bg-transparent"
                        name="name" type="text" placeholder="name">
                  Email : <input class="px-5 py-2 border-2 outline-none border-zinc-800 rounded-lg bg-transparent"
                        name="email" type="text" placeholder="email">
                  Image Url : <input class="px-5 py-2 border-2 outline-none border-zinc-800 rounded-lg bg-transparent"
                        name="image" type="text" placeholder="Image Url">
                  <input class="px-5 py-2 bg-blue-500 rounded-lg" type="submit" value="Create">

            </form>
      </div>
</body>

</html>